.form-group {
  margin-bottom: 14px;
}

.form-group label {
  font-size: 14px;
  display: block;
  margin-bottom: 6px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
}

.submit-btn {
  width: 100%;
  background: #2563eb;
  color: white;
  padding: 12px;
  border-radius: 10px;
  font-size: 15px;
}

.submit-btn:hover {
  background: #1d4ed8;
}
